.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.featuredItem{
    position: relative;
    color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.featuredImg{
    width: 100%;
    object-fit: cover;
}