.header {
    position: relative;
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: #003580;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerContainer.listMode{
    margin: 20px 0px 0px 0px;
}

.headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 45px;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.4rem;
    border: 1px solid #FFC312;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.headerListItem.active{
    background-color: #1289A7;
}

.headerListItem:hover{
    animation: pulse;
    -webkit-animation: pulse;
    -o-animation: pulse;
    -ms-animation: pulse;
    background-color: #1289A7;
    animation-duration: 2s;
}

.headerTitle {
    font-size: 3.2rem;
    font-weight: 600;
}

.headerDesc {
    font-size: 1.4rem;
    margin: 20px 0px;
    opacity: 0.8;
}
  
.headerBtn {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 16px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 10px;
}

.headerBtn-search {
    background-color: #5758BB;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.headerSearch {
    position: absolute;
    bottom: -25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1024px;
    padding: 12px 0;
    border-radius: 10px;
    height: var(--height-search);
    background-color: #ffffff;
    border: 3px solid #febb02;
}

.headerIcon {
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: #ccc;
    margin-right: 10px;
    cursor: pointer;
}

.headerSearchItems {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput{
    border: none;
    outline: none;
    padding: 8px 20px;
    color: #a4b0be;
    font-size: 1.6rem;
}

.headerSearchText {
    color: #a4b0be;
    font-size: 1.6rem;
    cursor: pointer;
}

.dateHeaderSearch {
    position: absolute;
    top: 50px;
    z-index: 2;
}

.options {
    position: absolute;
    top: 50px;
    padding: 10px;
    background-color: #ffffff;
    color: #cdcdcd;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);    
    z-index: 3;
}

.optionsItem{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 10px;
}

.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
    color: #000;
    font-weight: 400;
}
.optionCounterNumb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #FFC312;
}


.optionCounterBtn{
    width: 30px;
    height: 30px;
    border: 1px solid #0652DD;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    font-size: 2rem;
    font-weight: 400;
}

.optionCounterBtn:disabled{
    cursor: not-allowed;
}

.optionText{
    font-size: 1.8rem;
    font-weight: 500;
    cursor: default;
}