.mail{
    width: 100%;
    margin-top: 50px;
    background-color: #003580;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.mailTitle{
    font-size: 3rem;
    font-weight: bold;
}

.mailDesc{
    font-size: 1.6rem;
    font-weight: 400;
}
  
.mailInputContainer>input{
    width: 300px;
    height: 45px;
    padding: 10px 20px;
    border: none;
    outline: none;
    margin-right: 10px;
    border-radius: 5px;
    color: #FFC312;
    font-size: 1.6rem;
}
  
.mailInputContainer>button{
    height: 48px;
    background-color: #0071c2;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 10px 20px;
}

